@model FoodOrderApp.Models.Message

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageSubject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageSubject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageBody)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageBody)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MessageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
